/* Применяется ко всем элементам страницы */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

/* Меняется подсчет ширины блока в браузерах для удобства верстки */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Убираем линии обводки элементов при фокусе у браузеров */
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}

/* Делаем теги HTML5 блочными */
nav, footer, header, aside {display: block;}

/* Запрет на непроизвольное изменение шрифта в браузерах */
html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/* Включаем у элементов форм наследование шрифта, по умолчанию не наследуют его */
input, button, textarea {font-family: inherit;}

/* Убираем стили ссылок, списков, кнопок и т.д. */
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding:0; border:0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}

/* Обнуляем стили заголовков h1-h6 */
h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: 400;}


/* Основные стили документа */

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
    color: #445161;
    font-size: 30px;
}

h2 {
    color:#445161;
    font-size: 25px;
}

.text {
    color:#333333;
    line-height: 25px;
}

.bold {
    color:#333333;
    font-weight: 700;
}

.red {
    color:#ff0000;
}

/* Домашнее задание */

h3 {
    color: #445161;
    font-size: 20px;
}

.textToRight {
    text-align: right;
}

.upperCase {
    text-transform: uppercase;
}

.cursiveText {
    font-style: italic;
}

.underlinedText {
    text-decoration: underline;
}

.textToCenter {
    text-align: center;
}

.bigText {
    font-size: 25px;
    font-weight: 400;
}

.crossOutText {
    text-decoration: line-through;
}

.timesNewRomanText {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.shadowText {
    text-shadow: 1px 1px 1px #000000;
}